<aside>
  <h1 class='site-title'><a href="/">Samuel<br>Melden</a></h1>
  <nav>
    <a href="{{ site.baseurl }}/about">About</a>
    <a href="{{ site.baseurl }}/archive">Archive</a>
  </nav>
  <div class="social-links">
    <a href="https://www.facebook.com/smlmldn"><i class="fa fa-facebook-square"></i></a>
    <a href="https://instagram.com/smlmldn"><i class="fa fa-instagram"></i></a>
    <a href="https://twitter.com/smlmldn"><i class="fa fa-twitter-square"></i></a>
  </div>  
  <div id="instafeed">
    <h3>On Instagram</h3>
  </div>
</aside>