@import "normalize";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import url(http://fonts.googleapis.com/css?family=Neuton:200,300,400,700,800,400italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

$dark-blue: #0A1659;
$light-blue: #7C8AA6;
$light-tan: #F2D3AC;
$tan: #BF9969;
$brown: #40260F;

html {
    border-top: 10px solid $dark-blue;
    border-bottom: 10px solid $brown;
}

body {
    border-top: 10px solid $light-blue;
    border-bottom: 10px solid $tan;

    font-family: 'Neuton', serif;
    font-size: 22px;
    color: #333333;
}

h1 {
    font-weight: 700;
}

h2,h3,h4,h5,h6 {
    font-weight: 300;
    color: $light-blue;
}

a {
    color: $dark-blue;
    &:hover, &:visited {
        color: $light-blue;
    }
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    height: 1px;
    width: 75%;
    background: $light-blue;
    margin: 2em auto;
    border: none;
}

.container {
    @include outer-container;
    @include pad(2em);
}

#content {
    @include span-columns(8);

    .post {
        .post-title {
            font-size: 2em;
            color: $dark-blue;
            line-height: 1em;
            margin-bottom: .25em;
            a {
                text-decoration: none;
            }
        }
        .post-meta {
            color: $light-blue;
            font-style: italic;
        }
        .post-body {
            padding-bottom: 1em;
            border-bottom: 1px solid $light-blue;
            margin-bottom: 2em;
            p {
                line-height: 1.3em;
            }
            blockquote {
                font-size: 1.25em;
                font-weight: 200;
                border-left: 4px solid $light-blue;
                margin-left: 0;
                padding-left: 1em;
                color: $light-blue;
            }
        }
        .next-link {
            float: right;
        }
    }
}



aside {
    @include span-columns(3);
    @include shift(1);
    text-align: center;
    .site-title {
        font-weight: 400;
        color: $dark-blue;
        a {
            text-decoration: none;
            &:visited {
                color: $dark-blue;
            }
        }
    }
    nav {
        a {
            display: block;
            text-decoration: none;
            color: inherit;
            border-top: 1px solid $light-blue;
            padding: .5em 0;
            &:last-child {
                border-bottom: 1px solid $light-blue;
            }
            &:visited {
                color: $dark-blue;
            }
        }       
    }
    .social-links {
        margin-top: 1.5em;
        a {
            color: $brown;
            &:hover {
                color: $tan;
            }
        }
        i {
            font-size: 1.5em;
            margin-right: .25em;
        }
    }
}

.home {
    .post-title {
        a:visited {
            color: $dark-blue;
        }
    }
}

.archive {
    .archive-list {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            padding: .25em .5em;
        }
        li:nth-child(2n) {
            background: lighten($light-blue, 40%);
        }
    }
    .post-link, .post-meta {
        font-size: .75em;
    }
}

footer {
    background: $light-tan;
    color: $brown;
    p.copyright, p.rss-subscribe {
        text-align: center;
        font-size: .75em;
        a {
            color: inherit;
        }
    }
}

@include media($small) {
    body {
        font-size: 19px;
    }
    .container {
        @include pad(1em);
    }
    #content, aside {
        @include span-columns(4 of 4);
        @include shift(0);
    }   
}