---
layout: default
---

<div class="post">

<h1 class='post-title'>{{ page.title }}</h1>

<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>

<article class='post-body'>{{ content }}</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'samuelmeldencom'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

<div id='pagination'>
  
  {% if page.previous != null %}
    <a href="{{ page.previous.url }}" class="previous-link">&laquo; Previous Post</a>
  {% else %}
    
  {% endif %}

  
  
  {% if page.next != null %}
    <a href="{{ page.next.url }}" class="next-link">Next Post &raquo;</a>
  {% else %}
    
  {% endif %}
</div>

</div>
