---
layout: default
---
<div class="post">

<h1 class='post-title'>{{ page.title }}</h1>

<span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span>

<article class='post-body'>{{ content }}</article>

<div id='pagination'>
  
  {% if page.previous != null %}
    <a href="{{ page.previous.url }}" class="previous-link">&laquo; Previous Post</a>
  {% else %}
    
  {% endif %}

  
  
  {% if page.next != null %}
    <a href="{{ page.next.url }}" class="next-link">Next Post &raquo;</a>
  {% else %}
    
  {% endif %}
</div>

</div>
